:root {
  --dark: #0b0d17;
  --lilac: #d0d6f9;
  --white: #ffffff;
}

/* ---------- ELEMENT SELECTORS ---------- */

body {
  background-color: var(--dark);
  color: var(--white);
  width: auto;
  height: auto;
  overflow: hidden;
}

h1 {
  font-size: 9.375rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 3.125rem;
  font-weight: normal;
}

h2 {
  font-size: 6.25rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  margin: 1.875rem auto;
  font-weight: normal;
}

h3 {
  font-size: 3.5rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  margin: 1.25rem auto 2.5rem auto;
  font-weight: normal;
}

h4 {
  font-size: 32px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}

h5 {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  ;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  color: var(--lilac);
  font-weight: normal;
}

h6 {
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  ;
  line-height: 1.5;
  color: var(--lilac);
}

/* ---------- GENERAL CLASSES SELCTORS ---------- */

.main {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  bottom: 0;
  width: 99.5%;
}

.home {
  background-image: url("../assets/home/background-home-desktop.jpg");
}

.dest {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
}

.crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
}

.tech {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
}

.step {
  position: absolute;
  left: 9.375rem;
  top: 100px;
}

.step-number {
  opacity: 25%;
  font-weight: bold;
}

.step-text {
  color: var(--white);
  font-weight: normal;
}

.subh1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  margin-top: 0;
}

.subh2 {
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-size: 14px;
  letter-spacing: 2.35px;
  color: var(--lilac);
  margin-bottom: 5px;
}

/* ---------- NAVBAR ---------- */

.navtext {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  font-weight: normal;
  text-transform: uppercase;
}

.navbar {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: left;
  margin-bottom: 9.375rem;
  padding: 10px;
}

.navlogo {
  position: absolute;
  display: inline-block;
  left: 1.875rem;
  top: 3.125rem;
  height: 3.125rem;
}

.navhr {
  position: absolute;
  width: 37%;
  display: inline-block;
  left: 9.375rem;
  top: 63px;
  border-style: none;
  height: 2px;
  background-color: #fff3;
}

.navbtn {
  position: absolute;
  display: block;
  right: 0;
  top: 1.875rem;
  width: 50%;
  padding: 30px;
  background-color: #ffffff11;
  backdrop-filter: blur(15px);
  text-align: center;
}

.navbtn a {
  margin: 20px;
  color: var(--white);
  text-decoration: none;
  padding-bottom: 24px;
}

.navbtn a:hover {
  border-bottom: solid 3px;
  border-color: #fff9;
}

.current {
  border-bottom: solid 3px;
  border-color: var(--white);
}

/* ---------- PAGE: HOME ---------- */

.explore-btn {
  text-decoration: none;
  color: var(--dark);
  text-align: center;
  background-color: var(--white);
  border-radius: 100%;
  height: 12.5rem;
  width: 12.5rem;
  position: absolute;
  right: 12.5rem;
  bottom: 6.25rem;
  font-size: 32px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  border-style: none;
  outline: solid 1px;
  outline-color: #0000;
  transition: outline 1s;
  line-height: 12.5rem;
}

.explore-btn:hover {
  outline: solid 55px;
  outline-color: #fff1;
}

.home-text {
  position: absolute;
  left: 150px;
  bottom: 40px;
}

/* ---------- PAGE: DESTINATION ---------- */

/* ----- moon ---- */
.moon-display {
  position: relative;
}

.moon-img {
  position: absolute;
  left: 250px;
  top: 60px;
  height: 400px;
}

.moon-details {
  position: absolute;
  display: block;
  right: 0px;
  top: 160px;
  width: 40%;
}

.moon-selector {
  position: relative;
  padding: 1.25rem;
  padding-left: 0;
  text-align: left;
  margin-bottom: 40px;
}

.moon-selector a {
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-size: 1rem;
  margin: 3.125rem 1.875rem 3.125rem 0px;
  color: var(--white);
  text-decoration: none;
  padding-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4.75px;
}

.moon-selector a:hover {
  border-bottom: solid 3px;
  border-color: #fff9;
}

.moon-description {
  position: absolute;
  left: 490px;
  top: 200px;
}

.moon-description h2 {
  width: 25%;
}

.moon-description p {
  width: 40%;
  margin: 0 340px;
  line-height: 2;
}

.moon-details-separator {
  width: 28%;
  margin-top: 510px;
  margin-right: 170px;
  border-style: none;
  height: 2px;
  background-color: #fff3;
}

.moon-description-second {
  width: 50%;
  position: absolute;
  right: -135px;
  bottom: -40px;
}

.moon-data {
  width: 50%;
}

/* ----- mars ----- */
.mars-display {
  position: relative;
}

.mars-img {
  position: absolute;
  left: 250px;
  top: 60px;
  height: 400px;
}

.mars-details {
  position: absolute;
  display: block;
  right: 0px;
  top: 160px;
  width: 40%;
}

.mars-selector {
  position: relative;
  padding: 1.25rem;
  padding-left: 0;
  text-align: left;
  margin-bottom: 40px;
}

.mars-selector a {
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-size: 1rem;
  margin: 3.125rem 1.875rem 3.125rem 0px;
  color: var(--white);
  text-decoration: none;
  padding-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4.75px;
}

.mars-selector a:hover {
  border-bottom: solid 3px;
  border-color: #fff9;
}

.mars-description {
  position: absolute;
  left: 490px;
  top: 200px;
}

.mars-description h2 {
  width: 25%;
}

.mars-description p {
  width: 40%;
  margin: 0 340px;
  line-height: 2;
}

.mars-details-separator {
  width: 28%;
  margin-top: 510px;
  margin-right: 170px;
  border-style: none;
  height: 2px;
  background-color: #fff3;
}

.mars-description-second {
  width: 50%;
  position: absolute;
  right: -135px;
  bottom: -40px;
}

.mars-data {
  width: 50%;
}

/* ----- europa ----- */
.europa-display {
  position: relative;
}

.europa-img {
  position: absolute;
  left: 250px;
  top: 60px;
  height: 400px;
}

.europa-details {
  position: absolute;
  display: block;
  right: 0px;
  top: 160px;
  width: 40%;
}

.europa-selector {
  position: relative;
  padding: 1.25rem;
  padding-left: 0;
  text-align: left;
  margin-bottom: 40px;
}

.europa-selector a {
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-size: 1rem;
  margin: 3.125rem 1.875rem 3.125rem 0px;
  color: var(--white);
  text-decoration: none;
  padding-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4.75px;
}

.europa-selector a:hover {
  border-bottom: solid 3px;
  border-color: #fff9;
}

.europa-description {
  position: absolute;
  left: 490px;
  top: 200px;
}

.europa-description h2 {
  width: 25%;
}

.europa-description p {
  width: 40%;
  margin: 0 340px;
  line-height: 2;
}

.europa-details-separator {
  width: 28%;
  margin-top: 510px;
  margin-right: 170px;
  border-style: none;
  height: 2px;
  background-color: #fff3;
}

.europa-description-second {
  width: 50%;
  position: absolute;
  right: -135px;
  bottom: -40px;
}

.europa-data {
  width: 50%;
}

/* ----- titan ----- */
.titan-display {
  position: relative;
}

.titan-img {
  position: absolute;
  left: 250px;
  top: 60px;
  height: 400px;
}

.titan-details {
  position: absolute;
  display: block;
  right: 0px;
  top: 160px;
  width: 40%;
}

.titan-selector {
  position: relative;
  padding: 1.25rem;
  padding-left: 0;
  text-align: left;
  margin-bottom: 40px;
}

.titan-selector a {
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-size: 1rem;
  margin: 3.125rem 1.875rem 3.125rem 0px;
  color: var(--white);
  text-decoration: none;
  padding-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4.75px;
}

.titan-selector a:hover {
  border-bottom: solid 3px;
  border-color: #fff9;
}

.titan-description {
  position: absolute;
  left: 490px;
  top: 200px;
}

.titan-description h2 {
  width: 25%;
}

.titan-description p {
  width: 40%;
  margin: 0 340px;
  line-height: 2;
}

.titan-details-separator {
  width: 28%;
  margin-top: 510px;
  margin-right: 170px;
  border-style: none;
  height: 2px;
  background-color: #fff3;
}

.titan-description-second {
  width: 50%;
  position: absolute;
  right: -135px;
  bottom: -40px;
}

.titan-data {
  width: 50%;
}

/* ---------- PAGE: CREW ---------- */

.crew-display {
  position: relative;
}

.crew-img {
  position: absolute;
  top: 0px;
  right: 150px;
  height: 500px;
}

.crew-title {
  opacity: 50%;
  margin-bottom: 0;
  font-weight: 200;
}

.crew-details {
  position: absolute;
  display: block;
  left: 150px;
  top: 20px;
  width: 40%;
}

.crew-selector {
  position: absolute;
  top: 180px;
  text-align: left;
  margin-top: 80px;
}

.crew-selector a {
  display: inline-block;
  opacity: 20%;
  background-color: var(--white);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 3.125rem 1.875rem 3.125rem 0px;
}

.crew-selector a:hover {
  opacity: 40%;
}

.dot-current {
  opacity: 100% !important;
}

.crew-description {
  position: relative;
}

.crew-description p {
  width: 65%;
  margin-left: 0;
  line-height: 2;
}

.crew-description h3 {
  margin-bottom: -10px;
}

/* ---------- PAGE: TECHNOLOGY ---------- */

.tech-display {
  position: relative;
  width: 100%;
  height: 100%;
}

.tech-img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 500px;
  height: 450px;
}

.tech-title {
  color: var(--lilac);
  margin-bottom: 0;
}

.tech-details {
  position: absolute;
  display: block;
  left: 350px;
  top: 80px;
  width: 40%;
}

.tech-selector {
  position: absolute;
  left: 12.5rem;
  top: -20px;
  padding: 1.25rem;
  padding-left: 0;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 80px;
}

.tech-selector a {
  display: block;
  opacity: 40%;
  border: solid 1px;
  border-color: var(--white);
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin: 35px 1.875rem 35px 0px;
  text-align: center;
  line-height: 75px;
  color: var(--white);
  font-size: 32px;
  font-family: 'Bellefair', serif;
  text-decoration: none;
}

.tech-selector a:hover {
  opacity: 75%;
}

.circle-current {
  opacity: 100% !important;
  background-color: var(--white);
  color: var(--dark) !important;
}

.tech-description {
  position: relative;
}

.tech-description p {
  margin-bottom: 3.125rem;
  width: 80%;
}